<h1>ユーザーマイページ</h1>
	<table class="table">
		<tr>
			<th>名前</th>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>性別</th>
			<td><%= @user.sex %></td>
		</tr>
	</table>
	<%= link_to "編集する", edit_public_user_path(current_user), class: "btn btn-primary" %>